* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.c1 {
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    font-size: 30px;
    color: #29b1dd;
}

.c2 {
    background-color: #29b1dd;
    color: white;
    text-align: center;
    padding: 1rem
}

.Cont_2 {
    background-color: lightgrey;
    height: 800px;
    max-width: 99%;
    margin: 0rem 2rem;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: 15%;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
}

.animal {
    color: #0000ff;
}

.vegetable {
    color: #ffa500
}

.user {
    color: #800080;
}

p {
    padding: .5rem;
}